Screen {
  align: center middle;
}

.sidebar {
  dock: right;
  width: 40%;
  height: 100%;
}

PomodoroTimer {
  width: auto;
  height: auto;
  padding: 1 2;
  border: tall $background;
  text-style: bold;
}

PomodoroTimer:focus {
  border: tall $accent;
  text-style: bold;
}

PomodoroMessage {
  margin: 1 0;
  text-style: bold;
}

TodoListView {
  height: 100%;
  border: heavy $panel-lighten-1;
}

TodoListView:focus {
  border: heavy $accent;
}
